Repository Padawolf/devops-aula07, pull requests merged in 2018-09, with the labels that each got.

#2 Create requisitos.md
  docs/requisitos.md
Labels: análise

#4 create arquitetura.md #1
  docs/arquitetura.md
Labels: arquitetura

#8 Integrar implementação v1.0
  src/jogovelha.py
Labels: programação

#10 V1.0 testes
  src/testes_inic.py
  src/testes_jogar.py
Labels: testes
